<div class="studio-filters d-flex justify-content-evenly align-items-center border-bottom py-3 w-50">
    <!-- loaction filter -->
    <form method="POST" action="/studios" id="location-filter-form">
        <div class="dropdown ">
            <a class="nav-link dropdown-toggle px-3 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Locations
            </a>
            <div class="dropdown-menu " id="location-filter-list" aria-labelledby="dropdownMenuButton">
                <div>


                    <input class="location-filter" type="checkbox" value="North" name="location">North
                    <input class="location-filter" type="checkbox" value="South" name="location">South
                    <input class="location-filter" type="checkbox" value="East" name="location">East
                    <input class="location-filter" type="checkbox" value="West" name="location">West
                    <input class="location-filter" type="checkbox" value="Central" name="location">Central
                </div>
                <button onclick="storeLocationValues()">Apply</button>
                <!-- <button type="button" onclick="storeLocationValues()">Apply</button> -->
                <button type="button" disabled id="location-clear-btn" onclick="clearFilters('location-filter')">
                    Clear</button>
            </div>

        </div>

        <!-- amenities filter -->

        <div class="dropdown ">
            <a class="nav-link dropdown-toggle px-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Amenities
            </a>
            <div class="dropdown-menu " id="amenties-filter-list" aria-labelledby="dropdownMenuButton">
                <div>
                    <input type="checkbox" class="amenties-filter" name="showers" value="Showers"> >Showers
                    <input type="checkbox" class="amenties-filter" name="lockers" value="Lockers">Lockers
                    <input type="checkbox" class="amenties-filter" name="mats" value="Mats">Mats
                    <input type="checkbox" class="amenties-filter" name="parking" value="Parking">Parking
                </div>
                <button>Apply</button>
                <button type="submit" disabled id="clear-btn"> Clear</button>
            </div>

        </div>

        <!-- activites filter -->

        <div class="dropdown ">
            <a class="nav-link dropdown-toggle px-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Activites
            </a>
            <div class="dropdown-menu " id="activity-filter-list" aria-labelledby="dropdownMenuButton">
                <div>
                    <input type="checkbox" class="activity-filter" name="activity" value="Yoga">Yoga
                    <input type="checkbox" class="activity-filter" name="activity" value="Hiit">Hiit
                    <input type="checkbox" class="activity-filter" name="activity" value="Martial Arts">Martial Arts
                    <input type="checkbox" class="activity-filter" name="activity" value="Running">Running
                    <input type="checkbox" class="activity-filter" name="activity" value="Pilates">Pilates
                    <input type="checkbox" class="activity-filter" name="activity" value="Boxing">Boxing
                    <input type="checkbox" class="activity-filter" name="activity" value="Barre">Barre
                    <input type="checkbox" class="activity-filter" name="activity" value="Cycling">Cycling
                    <input type="checkbox" class="activity-filter" name="activity" value="Dance">Dance
                    <input type="checkbox" class="activity-filter" name="activity" value="Outdoors">Outdoors
                </div>
                <button type="submit">Apply</button>
            </div>

        </div>
    </form>

</div>

<script src="/filters.js"></script>