<div class="studio-filters d-flex justify-content-evenly align-items-center border-bottom py-3 w-50">
    <!-- loaction filter -->
    <form>
        <div class="dropdown ">
            <a class="nav-link dropdown-toggle px-3 " type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Locations
            </a>
            <div class="dropdown-menu " id="filter-list" aria-labelledby="dropdownMenuButton">
                <div>
                    <input type="checkbox" value="Ang Mo Kio" name="location">Ang Mo Kio
                    <input type="checkbox" value="Yishun" name="location">Yishun
                    <input type="checkbox" value="Woodlands" name="location">Woodlands
                    <input type="checkbox" value="Serangoon" name="location">Serangoon
                </div>
                <button type="submit">Apply</button>
            </div>

        </div>
    </form>
    <!-- amenities filter -->
    <form>
        <div class="dropdown ">
            <a class="nav-link dropdown-toggle px-3"  type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Amenities
            </a>
            <div class="dropdown-menu " id="filter-list" aria-labelledby="dropdownMenuButton">
                <div>
                    <input type="checkbox" name="showers" value="Showers">Showers
                    <input type="checkbox" name="Lockers" value="Lockers">Lockers
                    <input type="checkbox" name="Mats" value="Mats">Mats
                    <input type="checkbox" name="Parking" value="Parking">Parking
                </div>
                <button type="submit">Apply</button>
                <button type="submit" disabled> Clear</button>
            </div>

        </div>
    </form>
    <!-- activites filter -->
    <form>
        <div class="dropdown ">
            <a class="nav-link dropdown-toggle px-3" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Activites
            </a>
            <div class="dropdown-menu " id="filter-list" aria-labelledby="dropdownMenuButton">
                <div>
                    <input type="checkbox" name="activity" value="Showers">Showers
                    <input type="checkbox" name="activity" value="Lockers">Lockers
                    <input type="checkbox" name="activity" value="Mats">Mats
                    <input type="checkbox" name="activity" value="Parking">Parking
                </div>
                <button type="submit">Apply</button>
            </div>

        </div>
    </form>

</div>