        </main>

        <footer id="page-footer">
            <div class="container">
                <p>Biscoff Bakery | 79 Anson Road, #20-01</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- <script src="../../public/main.js"></script> -->
        <script>
            const addActiveClass = (clickedId) => {
                const currentActive = document.getElementsByClassName("active")              
                currentActive[0].classList.remove("active")
                document.getElementById(clickedId).classList.add("active")
            }
        </script>
    </body>

</html>