<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classpass</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" /> -->

    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />


</head>

<body class="d-flex flex-column min-vh-100">

    <nav id="page-header" class="navbar navbar-expand-lg bg-light fixed-top">

        <div class="container">
            <div>
                <figure class="mr-3 d-flex"><a href="/">
                        <img class="circular-image" src="/img/logo.png" />
                        <figcaption class="navbar-brand text-secondary my-auto">Classpass</figcaption>
                    </a>
                </figure>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/studios">Find Classes</a>
                    </li>
                    <% if (authUser !==null) { %>
                        <li class="nav-item">
                            <div class="dropdown ">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= authUser %>
                                </a>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                    <a type="button" href="/users/profile" class="dropdown-item">Profile</a>
                                    <a type="button" href="/users/upcoming" class="dropdown-item">Upcoming</a>
                                    <a type="button" href="/users/history" class="dropdown-item">History</a>
                                    <a type="button" href="/users/shoppingcart" class="dropdown-item">Shopping Cart</a>
                                    <a type="button" href="/logout" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/login">Login</a>

                            </li>
                            <% } %>
                </ul>
            </div>


        </div>

    </nav>

    <main class="pt-5">