<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classpass</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column min-vh-100">

    <nav id="page-header" class="navbar navbar-expand-lg bg-light">

        <div class="container">

            <figure class="mr-3">
                <!-- <img src="/img/logo.png" srcset="/img/logo.png 1x, /img/logo@2x.png 2x" /> -->
                <figcaption><a class="navbar-brand" href="#">Classpass</a></figcaption>
            </figure>
            <div class="d-flex justify-content-between w-50">
                
                <form>
                    <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Locations
                        </a>
                        <div class="dropdown-menu " id="filter-list"
                            aria-labelledby="dropdownMenuButton">
                            <div>
                            <input type="checkbox" value="Ang Mo Kio" name="location">Ang Mo Kio
                            </div>
                            <button type="submit">Apply</button>    
                        </div>
                    
                    </div>
                </form>
            
                <form>
                    <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Amenities
                        </a>
                        <div class="dropdown-menu " id="filter-list"
                            aria-labelledby="dropdownMenuButton">
                            <div>
                            <input type="checkbox" name="location" value="Showers">Showers
                            <input type="checkbox" name="location" value="Lockers">Lockers
                            <input type="checkbox" name="location" value="Mats">Mats
                            <input type="checkbox" name="location" value="Parking">Parking
                            </div>
                            <button type="submit">Apply</button>    
                        </div>
                    
                    </div>
                </form>
                <form>
                    <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Activites
                        </a>
                        <div class="dropdown-menu " id="filter-list"
                            aria-labelledby="dropdownMenuButton">
                            <div>
                            <input type="checkbox" name="location" value="Showers">Showers
                            <input type="checkbox" name="location" value="Lockers">Lockers
                            <input type="checkbox" name="location" value="Mats">Mats
                            <input type="checkbox" name="location" value="Parking">Parking
                            </div>
                            <button type="submit">Apply</button>    
                        </div>
                    
                    </div>
                </form>
            
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- <div id="demo" >
                        <p>Let AJAX change this text.</p>
                        <button type="button" onclick="loadDoc()">Change Content</button>
                    </div> -->
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://localhost:3000/studios">Find Classes</a>
                    </li>
                    <% if (authUser !==null) { %>
                     <li class="nav-item">
                        <div class="dropdown ">
                                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= authUser %>
                                </a>
                                <div class="dropdown-menu " id="filter-list"
                                    aria-labelledby="dropdownMenuButton">
                                    <a type="button" class="dropdown-item">Profile</a>
                                    <a type="button" class="dropdown-item">Upcoming</a>
                                    <a type="button" class="dropdown-item">History</a>
                                    <a type="button" class="dropdown-item">Shopping Cart</a>
                                </div>
                        </div>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://localhost:3000/login">Login</a>   
                        <!-- <button class="nav-link" type="button" onclick="openLoginModal()">Login</button> -->
                        
                    </div>
                    </li>
                    <% } %>


                </ul>

            </div>


        </div>

    </nav>

    <main>