<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Classpass</h1>
           
            <a href="http://localhost:3000/studios"> <button type="button" class="btn btn-default btn-rounded mb-4">Find Classes</button></a>
            
        </div>
    </div>
</div>