<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Classpass</h1>
            <button type="button" class="btn btn-light"> 
            <a href="http://localhost:3000/login">Login</a>
            </button>
        </div>
    </div>
</div>