body {
    font-family: "Helvetica Neue", sans-serif;
}


#page-header {
    padding: 30px 0;
}

#page-header figure {
    margin: 0;
}

#page-header figcaption {
    display: inline;
    margin-left: 10px;
}

#page-header figcaption a {
    color: #707070;
    font-size: 20px;
}

#page-header .nav-item a {
    font-weight: 300;
    font-size: 18px;
    color: #707070;
    padding: 0 20px;
    border-right: 1px solid #707070;
}

#page-header .nav-item:last-of-type a {
    border: none;
    padding-right: 0;
}

/* main {
    height: 500px;
} */
#loginpage-cover, 
#homepage-cover {
    height: 100%;
    background: url(./img/homepage-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 80px; */
}

#homepage-cover h1 {
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px;
}

#homepage-cover button {
    background: #EAEAEA;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 20px;
}
#page-login, 
#page-home {
    height: calc(100vh - 188px);
}

.constrained-full-height {
    min-height: calc(100vh - 188px);
}

#page-footer {
    background: #F2F2F2;
}

#page-footer p {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 100;
}



#page-contact .bg-section {
    background: url(./img/contact-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#page-contact .content-section h1 {
    font-size: 36px;
    font-weight: 100;
}

#page-contact form label {
    font-size: 18px;
    font-weight: 100;
}

.form-control {
    background: #F9F9F9;
    border: none;
    padding: 10px 5px;
}

#page-contact form button {
    background: #EAEAEA;
    color: black;
    border: none;
    font-size: 16px;
    font-weight: 100;
    padding: 15px 30px;
}

.hr {
    border-bottom: 1px solid #EAEAEA;
    width: 80px;
    margin: 0 auto;
}

#contact-form .error-msgs {
    display: none;
}

/* list studios */
body ul {
    list-style: none;
}
.studio-item-details,
.view-lessons,
.studio-item-img {
    flex: 1 1 0;
}

.studio-item-description {
    flex: 3 1 0;
}


.view-studio img {
    object-fit: cover;
    width: 638px;
    height: 408px;
}

/* icons */
.amenities img {
    width: 25px;
    height: 25px;
}

/* .amenities {
  height: 160px;
} */

.view-studio {
    width: 638px;
}

/* info ans classes tabs */
.active {
    border: #707070 solid;
}

/* ratings */

.reviews-content, p {
    margin: 0;
}

/* .ratings{

    background-color:#fff;
        padding: 54px;
        border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 10px 10px #E0E0E0;
} */

.rating-num {

    font-size: 50px;
}

.stars i {

    font-size: 18px;
    color: #28a745;
}

/* .rating-text{
    margin-top: 10px;
} */

/* calandar */
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/* profile page */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #ffffff;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}
/* 
#sidebar .nav{
  
} */

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

a, u {
    text-decoration: none;
  }


.shopping-cart{
    width: 60%;
    height: 400px;
}

.review-input-box{
  height: 200px;
}

/* ratings */
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  /* width: 250px; remove this */
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  /* width: 20%; remove this */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-rating.star-5 {width: 176px;}
.star-rating.star-5 input,
.star-rating.star-5 i {width: 20%;}
.star-rating.star-5 i ~ i {width: 40%;}
.star-rating.star-5 i ~ i ~ i {width: 60%;}
.star-rating.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}



/* modal */
.modal-backdrop{
  width: 100%;
  height: 100%;
}

.errors{
  color:#ff00007a;
  font-size: smaller;

}

.my-border{
  border: #ff0000a4 solid;
}


.page-login-card{
  height: 522px;
}





































































