<%- include('../partials/header', {isloggedin: true}); %>

<div id="page-home">
    <div id="homepage-cover" class="w-100">
        
        <div class=" blur d-flex align-items-center">
            <div class="w-75 text-center mx-auto">
            <h1>Classpass Gives You Worldwide Access To Some Of the 
                Top-Rated Gyms, Fitness Studios, Salons And Spas.</h1>
           
            <a href="http://localhost:3000/studios"> <button type="button" class=" shadow-sm btn btn-default btn-warning rounded-pill mb-4 ">Find Studios and book classes</button></a>
            </div>
        </div>
       
        
    </div>
</div>

<%- include('../partials/footer'); %>
